:root {
	--white: #fff;
	--grey: #b5b2b2;
	--light-blue: #0075f6;
	--dark-blue: #0900c3;
	--off-black: #1d1919;
}
/* nav bar styling */
.nav-link {
	font-size: 1.25em;
}
.navbar-toggler {
	background-color: var(--light-blue);
}

/* sitewide styling */
.img-center {
	text-align: center;
	border-radius: 8px;
	width: 300px;
	background-color: var(--light-blue);
	box-shadow: 0 0 0 1px rgba(207, 200, 200, 0.15),
		0 2px 3px 0 rgba(185, 180, 180, 0.1);
}

body {
	background-color: #000000;
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

h1,
h2,
h3 {
	color: var(--white);
	font-family: "Noto Serif", serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}
h1 {
	font-size: 3em;
	line-height: 3em;
}
h2 {
	font-size: 2.5em;
	line-height: 2em;
}
h3 {
	font-size: 2em;
	line-height: 2em;
}

.hero__body-text {
	color: var(--grey);
	margin-bottom: 2em;
}
p {
	color: var(--grey);
}

/* about page styling */
.about-image {
	margin-bottom: 5em;
}
.skills-card .images-container svg {
	width: 45%;
}

.skills-card .images-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-bottom: 1.5rem;
}

.skills-card svg {
	width: 10rem;
	padding-top: 1rem;
}
.skills-card img {
	width: 10rem;
	padding-top: 1rem;
}
.skills-card {
	justify-content: center;
}
.robot {
	padding-bottom: 1.5rem;
}

/* portfolio page styling */

.projects-container .card-img-top {
	height: 250px;
	object-fit: cover;
}
.projects-container .card {
	border-color: var(--light-blue);
}
.projects-container .card-body {
	background-color: var(--off-black);
}
.projects-container .card-title {
	color: var(--white);
}
.projects-container .card-footer {
	background-color: var(--off-black);
}

/* site-wide footer styling */
footer {
	margin-top: 5rem;
}
footer .cta-box {
	border: 1px var(--light-blue) solid;
	padding: 1em 1em 1em 1em;
	margin: 1em;
}
footer .email-box {
	padding: 4em 0;
}
footer .email-link {
	text-decoration: none;
	color: var(--light-blue);
	font-size: 1em;
}
footer .email-link:hover {
	color: var(--white);
}
footer .social-links a {
	margin: 2em 15px;
	text-decoration: none;
	color: var(--light-blue);
	background: var(--grey);
	padding: 0.3em 0.5em;
	border-radius: 50%;
	font-size: 1.5em;
	transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
	color: var(--white);
	background: var(--dark-blue);
}

/* nav bar styling */
@media only screen and (min-width: 994px) {
	.hero-image {
		max-height: 450px;
		margin-left: 5rem;
	}
	.about-image {
		max-height: 450px;
		margin-right: 5rem;
	}
	footer .cta-box {
		border: 1px var(--light-blue) solid;
		padding: 1em 10em 1em 5em;
		margin: 0 5em;
	}
	footer .social-links a {
		margin: 2em 1em;
		color: var(--light-blue);
		background: var(--grey);
		padding: 0.3em 0.5em;
		border-radius: 50%;
		font-size: 1.5em;
		transition: all 150ms ease-in-out;
	}
}
